---
layout: default
---

<section class="lg:add-sticky-padding-top">
  <section class="bg-texture-light-to-green pt-20 pb-8 px-10">
    <h1 class="text-center uppercase tracking-widest"><%= page.data[:title] %></h1>
    <span class="text-center font-sans uppercase text-xs lg:text-base font-semibold block pb-10"><%= page.data[:subtitle] %></span>
  </section>

  <section class="max-w-7xl mx-auto pt-20 pb-8 px-10">
    <%= yield %>
  </section>
</section>
