---
layout: default
---

<h1 class="hidden">Home Page</h1>

<section class="content bg-texture-light">
  <section class="max-w-5xl mx-auto p-8">
    <span class="font-display text-primary text-9xl" style="line-height: 85%; float: left; width: 1.1em;">W</span>elcome, I am Almerina Byrum and this is 805 Babies Photography. In persuing my passion of photography, one of the greatest joys I get is taking photos of these little precious bundles of love. Having a baby is a wonderful blessing, but believe me they grow up too fast! Which is why having a family heirloom to treasure forever will bring smiles and laughter for years to come. Feel free to have a look at my galleries in hope of some inspiration for your little bundle's first photoshoot!
  </section>
</section>

<section>
  {% render "swiperslider" %}
</section>

<section class="max-w-5xl mx-auto p-8">
  {{ content }}
</section>

<section class="bg-dark text-primary text-center capitalize">
  <div class="max-w-5xl mx-auto p-8 grid grid-cols-1 lg:grid-cols-3 gap-4">
    <figure class="col-span-1">
      <a href="http://805babies.com/galleries/newborn">
        <img src="/images/cover-newborn.jpg" class="rounded-lg">
        <figcaption class="font-hand text-5xl pt-4">newborn</figcaption>
      </a>
    </figure>

    <figure class="col-span-1">
      <a href="http://805babies.com/galleries/belly-love">
        <img src="/images/cover-maternity.jpg" class="rounded-lg">
        <figcaption class="font-hand text-5xl pt-4">maternity</figcaption>
      </a>
    </figure>

    <figure class="col-span-1">
      <a href="http://805babies.com/galleries/cake-smash">
        <img src="/images/cover-cakesmash.jpg" class="rounded-lg">
        <figcaption class="font-hand text-5xl pt-4">cake smash</figcaption>
      </a>
    </figure>
</section>

<!-- Almerina about section -->
<section class="max-w-5xl mx-auto p-8">

  <aside>
    <p>
      <img src="/images/selfie.jpg" class="rounded-lg float-left md:w-1/3 w-full mr-4 mb-4"/> 
      <span class="text-primary text-4xl font-display uppercase block pb-8">I'm Almerina!</span>
    
      I always had a love for Photography. When I started my education in communications, with a major in advertising, I took photography as a regular class and I got my first professional camera. Photography became my biggest passion. I took every class available. Pretty soon I became the official photographer in my hometown Tamarindo. I started with graduations and festivals, then Quinceañeras and Weddings.
    </p>

    <p>My passion for photography and my desire to go to the Brooks Institute of Photography in Santa Barbara, brought me to the Central Coast where I found the love of my life: Mr. Paul Byrum. We now have been married over 20 years and have 3 wonderful children; Brianna, Paul and Marc.</p>

    <p>Enjoying my kids growing up, and busy with sports, I slowed down with weddings. My wedding couples began bringing me their babies to photograph and it reignited a new passion for photography in me. There is something about newborns that gives me so much joy! For the past few years I have been perfecting my craft, and finding and developing a style that works for me. I am ready to confidently shift my focus and creative energy towards newborn photography, and launch my new site: 805 Babies.</p>
  </aside>
</section>

<!-- cta capture a photo banner -->
<section>
  {% render "cta_capture_banner" %}
</section>
