---
layout: default
---

<h1 class="hidden">Home Page</h1>
<section class="bg-texture-light-to-green">
  <section class="max-w-3xl mx-auto pt-20 pb-10 px-10">
    <p class="leading-relaxed has-drop-cap">
      Welcome, I am Almerina Byrum and this is 805 Babies Photography. In persuing my passion of photography, one of the greatest joys I get is taking photos of these little precious bundles of love.
    </p>
    <p>
      Having a baby is a wonderful blessing, but believe me they grow up too fast! Which is why having a family heirloom to treasure forever will bring smiles and laughter for years to come. Feel free to have a look at my galleries in hope of some inspiration for your little bundle's first photoshoot!
    </p>
  </section>
</section>

<section class="py-20">
  {% render "swiperslider" %}
</section>

<section class="hidden max-w-3xl mx-auto p-8">
  {{ content }}
</section>

<section class="bg-texture-dark-to-green text-green py-20">
  <h2 class="text-center text-4xl lg:text-5xl">Browse some of our popular galleries</h2>
  <div class="max-w-7xl mx-auto px-10 grid grid-cols-1 lg:grid-cols-3 gap-10 font-sans text-center text-base capitalize font-light">
    <figure class="col-span-1">
      <a href="/galleries/newborn" class="no-underline">
        <img src="/images/cover-newborn.jpg" class="rounded-lg">
        <figcaption class="pt-5">newborn</figcaption>
      </a>
    </figure>

    <figure class="col-span-1">
      <a href="/galleries/maternity" class="no-underline">
        <img src="/images/cover-maternity.jpg" class="rounded-lg">
        <figcaption class="pt-5">maternity</figcaption>
      </a>
    </figure>

    <figure class="col-span-1">
      <a href="/galleries/cakesmash" class="no-underline">
        <img src="/images/cover-cakesmash.jpg" class="rounded-lg">
        <figcaption class="pt-5">cake smash</figcaption>
      </a>
    </figure>
</section>

<!-- Almerina about section -->
<section class="max-w-3xl mx-auto py-20 pb-10 px-10">

  <h2 class="text-center text-4xl lg:text-5xl">My name is Almerina, pleased to meet you!</h2>
  <aside>
    <p class="has-drop-cap">
      <img src="/images/selfie.jpg" class="rounded-lg float-left md:w-1/3 w-full mr-10 mb-5"/> 
      I always had a love for Photography. When I started my education in Communications with a major in Advertising, I took photography as a regular class and I got my first professional camera. Photography became my biggest passion. I took every class available. Pretty soon I became the official photographer in my hometown Tamarindo. I started with graduations and festivals, then Quinceañeras and Weddings.
      <a href="/about" class="block pt-5 uppercase font-body text-sm">Read more...</a>
    </p>
  </aside>
</section>

<!-- cta capture a photo banner -->
<section>
  {% render "cta_capture_banner" %}
</section>
