---
layout: default
---

<section class="add-sticky-padding-top">
  <section class="bg-texture-light-to-green pt-20 pb-8 px-10">
    <h1 class="text-center uppercase tracking-widest">{{ page.title }}</h1>
    <span class="text-center font-sans uppercase text-sm font-semibold block pb-10">{{ page.subtitle }}</span>
  </section>

  <section class="max-w-3xl mx-auto pt-20 pb-8 px-10">
    {{ content }}
  </section>
</section>
