---
layout: gallery
title: Cake Smash
subtitle: catchy subtitle here
permalink: /galleries/cakesmash/
---

<section>
  <div id="lightgallery" class="max-w-7xl mx-auto px-10 grid grid-cols-3 gap-5">
    <% @images = Dir.glob("./src/images/galleries/cakesmash/*.jpg") %>
    <% @images.each do |image| %>
      <div class="lg-item" data-src="/images/galleries/cakesmash/<%= image.split('/').last %>">
        <img src="/images/galleries/cakesmash/<%= image.split('/').last %>"/>
      </div>
    <% end %>
  </div>
</section>
