---
layout: gallery
title: Newborn gallery
subtitle: the subtitle
permalink: /galleries/newborn/
---

<strong><%= page.data.title %></strong>
<br>
<br>
<br>
<h1><%= page.data.layout %></h1>
<p>images go here</p>
