@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --green: #82937b;
  --light-green: #A2BF9E;
  --dark-green: #546D54;
  --gold: #d3af5e;
  --light-gold: #DAD16D;
  --dark-gold: #AC9D5E;
  --light-grey: #f5f5f5;
  --mid-grey: #D3D7DF;
  --dark-grey: #2a2d34;
  --body-background: var(--light-grey);
  --body-color: var(--dark-grey);  
}

body {
  background: var(--body-background);
  color: var(--body-color);
  @apply font-display text-xl;
}

a {
  color: var(--gold);
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

a:hover {
  color: var(--dark-gold);
}

p {
  color: var(--dark-grey);
  @apply pb-10 leading-normal;
}

h1 {
  color: var(--green);
  @apply text-5xl pb-12 font-serif;
}

h2 {
  color: var(--green);
  @apply text-4xl pb-12 font-serif;
}

h3 {
  color: var(--green);
  @apply text-3xl pb-12 font-serif;
}

h4 {
  @apply text-xl pb-5 uppercase font-sans;
}

/* custom class */

.has-drop-cap:not(:focus):first-letter {
    float: left;
    font-size: 3.4em;
    line-height: .68;
    font-weight: 100;
    margin: .05em .1em 0 0;
    text-transform: uppercase;
    font-style:normal
}

.btn {
  @apply rounded-md py-2 px-4 uppercase text-sm;
}

.fullsticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.mysticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.mysticky + .sticky-padding {
  padding-top: 68px;
}

.add-sticky-padding-top {
  padding-top: 55px;
}
