
<section class="pt-10 pb-20">
  <div class="max-w-3xl mx-auto px-10 font-sans">
    <!-- table -->
    <table>
      <thead>
        <tr>
          <th class="text-left">Add-ons</th>
          <th class="text-right">$</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Digital image</td>
          <td class="text-right">35</td>
        </tr>
        <tr>
          <td>Mat folio</td>
          <td class="text-right">35</td>
        </tr>
        <tr>
          <td>Fine art print (up to 8x10)</td>
          <td class="text-right">35</td>
        </tr>
        <tr>
          <td>11x14 backboard print</td>
          <td class="text-right">45</td>
        </tr>
        <tr>
          <td>16x20 backboard print</td>
          <td class="text-right">85</td>
        </tr>
        <tr>
          <td>18x24 backboard print</td>
          <td class="text-right">125</td>
        </tr>
        <tr>
          <td>20x30 backboard print</td>
          <td class="text-right">150</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<hr class="max-w-3xl mx-auto px-10">

<div class="max-w-3xl mx-auto px-10 py-20">
  <span class="text-center block text-3xl italic">Buy only what you love!</span>
</div>
