<section class="bg-texture-light-to-green bg-fixed">
  <div class="max-w-5xl mx-auto py-20 px-10 grid lg:grid-cols-2 gap-10">
    <h2 class="text-center lg:col-span-2">Capture a photo for the one who captured your heart</h3>
    <figure class="lg:col-span-1">
      <img src="/images/homepage-capture.jpg" alt="" class="rounded-lg">
    </figure>
    <aside class="lg:col-span-1">
      <p></p>
      <p>Our babies grow up just way too fast. Having photographs help us hold on to those special moments in time.</p>
      <a href="/" class="btn bg-gold hover:bg-light-gold text-light-grey hover:text-light-grey no-underline">Reserve your session!</a> 
    </aside>
  </div>
</section>
