<section class="bg-texture-light">
  <div class="max-w-5xl mx-auto p-8">
    <h3 class="text-center py-4">Capture a photo for the one who captured your heart</h3>
    <div class="grid lg:grid-cols-2 gap-4">
    <figure>
      <img src="/images/homepage-capture.jpg" alt="" class="rounded-lg">
    </figure>
    <aside>
      <a href="/" class="btn bg-secondary hover:bg-secondary-dark text-light">Save your spot!</a> 
    </aside>
  </div>
</section>
