<section class="bg-texture-light-to-green">
  <div class="max-w-7xl mx-auto py-20 px-10 grid lg:grid-cols-2 gap-10">
    <h2 class="text-center lg:col-span-2">Capture a photo of the one who captures your heart.</h2>
    <figure class="lg:col-span-1">
      <img src="/images/homepage-capture.jpg" alt="" class="rounded-lg">
    </figure>
    <aside class="lg:col-span-1 text-center lg:text-left">
      <p>Our babies grow up just way too fast. Having photographs help us hold on to those special moments in time.</p>
      <a href="/contact" class="btn bg-gold hover:bg-dark-gold text-light-grey hover:text-light-grey no-underline font-body">Reserve your session!</a> 
      <a href="/investments" class="btn bg-light-grey hover:bg-dark-grey text-dark-grey hover:text-light-grey no-underline font-body border border-2 border-dark-grey">See package pricing</a> 
    </aside>
  </div>
</section>
