<section class="bg-texture-light-to-green bg-fixed">
  <div class="max-w-5xl mx-auto py-20">
    <h2 class="text-center">Capture a photo for the one who captured your heart</h3>
    <div class="grid lg:grid-cols-2 gap-4">
    <figure>
      <img src="/images/homepage-capture.jpg" alt="" class="rounded-lg">
    </figure>
    <aside>
      <a href="/" class="btn bg-gold hover:bg-light-gold text-light-grey hover:text-light-grey no-underline">Save your spot!</a> 
    </aside>
  </div>
</section>
