<header class="w-full {% if page.url == "/" %} h-screen {% endif %}" {% if page.url == "/" %} style="background-image: url('/images/homepage-harry-potter.jpg'); background-attachment: fixed; background-size: cover; background-position: 0% 25%;"{% endif %}>
  <section class="max-w-7xl mx-auto grid grid-cols-3 gap-4"><!-- height 70px was added on this section tag -->
    <div class="fixed z-30 col-start-1 col-end-2 flex justify-start items-center">
      <a href="/">
        <img src="/images/logo-green.png" class="w-36">
      </a>
    </div>
    <div class="col-start-3 col-end-4 flex justify-end align-center pt-4">
      <a href="/contact" class="fixed z-30 font-sans block text-sm uppercase bg-green hover:bg-gold text-light-grey hover:text-dark-grey no-underline px-3 py-2 rounded-md">
        Contact Us
      </a>
    </div>
  </section>
</header>
