<!-- mobile menu -->

<nav>
  <section x-data="{ open: false }" class="bg-dark-green text-green">
    <header class="max-w-7xl mx-auto grid grid-cols-3 gap-4">
      <div class="col-span-2">
        <a href="/">
          <img src="/images/logo-green.png" class="w-44"/>
        </a>
      </div>

      <button @click="open = ! open" class="col-span-1">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 float-right pr-10 hover:text-secondary" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <template x-if="!open"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8h16M4 16h16" /></template>
          <template x-if="open"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></template>
        </svg>
      </button>

      <nav x-show="open" @click.outside="open = false" class="col-span-3 p-4 bg-dark-green uppercase font-body font-normal">
        <a href="/galleries/newborn" class="block text-gold hover:text-dark-gold no-underline">Newborn</a>
        <a href="/galleries/maternity" class="block text-gold hover:text-dark-gold no-underline">Belly Love</a>
        <a href="/galleries/cakesmash" class="block text-gold hover:text-dark-gold no-underline">Cake Smash</a>
        <a href="/galleries/children" class="block text-gold hover:text-dark-gold no-underline">Children</a>
        
        <a href="mailto:almerinabyrum@gmail.com" class="bg-gold hover:bg-dark-gold text-dark-grey hover:text-light-grey no-underline py-2 px-3 uppercase rounded-md block w-full text-center mt-4">
          Contact Us
        </a>
      </nav>
    </header>
  </secondary>
</nav>
