<div class="max-w-5xl mx-auto p-8">
  <!-- slider main container -->
  <article class="swiper">
    <!-- additional required wrapper -->
    <section class="swiper-wrapper">
      <!-- slides -->
      <figure class="swiper-slide"><img src="/images/slider-1.jpg" class="object-contain w-full"/></figure>
      <figure class="swiper-slide"><img src="/images/slider-2.jpg" class="object-contain w-full"/></figure>
      <figure class="swiper-slide"><img src="/images/slider-3.jpg" class="object-contain w-full"/></figure>
      <figure class="swiper-slide"><img src="/images/slider-4.jpg" class="object-contain w-full"/></figure>
      <figure class="swiper-slide"><img src="/images/slider-5.jpg" class="object-contain w-full"/></figure>
      <figure class="swiper-slide"><img src="/images/slider-6.jpg" class="object-contain w-full"/></figure>
      <figure class="swiper-slide"><img src="/images/slider-7.jpg" class="object-contain w-full"/></figure>
      <figure class="swiper-slide"><img src="/images/slider-8.jpg" class="object-contain w-full"/></figure>
      <figure class="swiper-slide"><img src="/images/slider-9.jpg" class="object-contain w-full"/></figure>
      <figure class="swiper-slide"><img src="/images/slider-10.jpg" class="object-contain w-full"/></figure>
      <figure class="swiper-slide"><img src="/images/slider-11.jpg" class="object-contain w-full"/></figure>
      <figure class="swiper-slide"><img src="/images/slider-12.jpg" class="object-contain w-full"/></figure>
      <figure class="swiper-slide"><img src="/images/slider-13.jpg" class="object-contain w-full"/></figure>
      <figure class="swiper-slide"><img src="/images/slider-14.jpg" class="object-contain w-full"/></figure>
      <figure class="swiper-slide"><img src="/images/slider-15.jpg" class="object-contain w-full"/></figure>
    </section>
    <!-- navigation -->
    <aside class="swiper-button-prev"></aside>
    <aside class="swiper-button-next"></aside>
    <!-- pagination -->
    <div class="swiper-pagination"></div>
  </article>
</div>
